// <div class="bar--group">
//   <div class="row bar">
//     <div class="col-md-3">
//       <div class="bar__label">...</div>
//     </div>
//     <div class="col-md-9">
//       <div class="bar__value" style="width: ...">...</div>
//     </div>
//   </div>
// </div>

.bar {
  margin-top: $gutter/2;
  margin-bottom: $gutter/2;
  margin-right: $gutter;

  &--group {
    margin: $gutter 0;
  }

  &--secondary {
    margin-top: $gutter/4;
    margin-bottom: $gutter/4;
  }

  &__label {
    text-align: left;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &--secondary {
      font-size: .9em;
      font-weight: normal;
    }
  }

  &__value {
    height: 20px;
    background-color: map-get($themeColors, darkBlue);

    &--secondary {
      background-color: map-get($themeColors, lightBlue);
      height: 15px;
      margin: 2px 0;
    }
  }

  &__pct {
    font-size: .85em;
    line-height: 20px;
    padding: 0 0 0 5px;
    margin-left: 100%;
  }
}

// The bars are used together with the -md-* grid elements,
// therefore the use of "min-width: 992px"
@media (min-width: 992px) {

  .bar {
    margin-right: -15px;
  }

  .bar__label {
      text-align: right;
  }
}
